@import "normalize.css";

:root {
    --primary: rgb(29, 155, 240);
    --black: #000;
    --white: #fff;
    // --text-color: #50b7f5;
    --text-color: rgb(22, 24, 35);

    // font
    --font-family: "TwitterChirp", sans-serif;

    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed; // Tối ưu nhanh nhất tốc độ tải font
    color: var(--text-color);
    overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 5px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// Font embedded
@font-face {
    font-family: TwitterChirp;
    src: url("/assets/font/chirp-regular-web.woff");
    font-weight: 400;
}
@font-face {
    font-family: TwitterChirp;
    src: url("/assets/font/chirp-medium-web.woff");
    font-weight: 600;
}
@font-face {
    font-family: TwitterChirp;
    src: url("/assets/font/chirp-bold-web.woff");
    font-weight: 700;
}
@font-face {
    font-family: TwitterChirp;
    src: url("/assets/font/chirp-heavy-web.woff");
    font-weight: 700;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
