.profile {
    // flex: 0.4;
    position: relative;

    height: 100vh;
    max-height: 100vh;
    max-width: 601px;
    width: 600px;
    min-width: fit-content;
    overflow-y: scroll;
    border-right: 1px solid rgb(239, 243, 244);
}
@media screen and (max-width: 712px) {
    .profile {
        width: auto;
    }
}
.profile::-webkit-scrollbar {
    display: none;
}

// Hide Scrollbar for IE, Edge, Firefox.
.profile {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 53px;
    padding-left: 17px;
    padding-right: 8px;
    margin-top: 2px;
    cursor: pointer;
}
.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-icon {
    margin-right: 25px;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h2 {
        color: rgb(15, 20, 25);
        padding: 2px 0;
        font-size: 2.1rem;
        font-weight: 600;
        line-height: 24px;
    }
}
.follow-username {
    color: rgb(83, 100, 113);
    line-height: 16px;
    font-size: 1.3rem;

    font-weight: 400;
    word-wrap: break-word;
}
.icons-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;

    &:hover {
        background-color: rgba(15, 20, 25, 0.1);
        border-radius: 9999px;
        transition-property: background-color, border-color, color, opacity,
            box-shadow, transform;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 200ms;
    }
    svg {
        width: 20px;
        height: 20px;
    }
}

.container {
    flex-grow: 1;
    flex-shrink: 1;
    .box-container {
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.box-profile {
    // margin-top: 60px;
    position: relative;
    flex-grow: 1;
}
.background-image-box {
}
.background-image {
    cursor: pointer;
    outline: none;
    overflow: hidden;
    max-height: 200px;
    max-width: 600px;

    left: 0;
    top: 0;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // position: absolute;
    img {
        height: 100%;
        width: 100%;
    }
}

.info-profile {
    margin-bottom: 16px;
    padding: 12px 16px 0;
}
.info-profile-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    // flex-wrap: wrap;
    z-index: 1000;
}
.info-profile-avatar {
    min-width: 48px;
    min-height: 48px;
    max-height: 134px;
    max-width: 134px;

    margin-bottom: 12px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -14%;
    margin-left: 4px;
    cursor: pointer;
    img {
        height: 134px;
        width: 134px;

        border: 3px solid #fff;
        border-radius: 50%;
        object-fit: cover;
        background-size: cover;
        overflow: hidden;
    }
}
.info-profile-edit-btn {
    margin-bottom: 12px;
    button {
        min-width: 36px;
        min-height: 36px;
        padding: 5px 16px;
        align-items: center;
        font-size: 1.5rem;
        color: rgb(15, 20, 25);
        font-weight: 600;
        border: 1px solid rgb(207, 217, 222);

        line-height: 20px;
        &:hover {
            background-color: rgba(15, 20, 25, 0.1);
            transition-property: background-color, border-color, color, opacity,
                box-shadow, transform;
            transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
            transition-duration: 200ms;

            border: 1px solid rgb(207, 217, 222);
        }
    }
}
.info-profile-content {
    margin-top: 4px;
    margin-bottom: 12px;
    max-width: 100%;
    flex-shrink: 1;
    .name {
        color: rgb(15, 20, 25);
        font-weight: 800;
        line-height: 24px;
        font-size: 2rem;
        word-wrap: break-word;
    }
    .username {
        color: rgb(83, 100, 113);
        font-weight: 400;
        line-height: 20px;
        font-size: 1.5rem;
        word-wrap: break-word;
    }
}
.info-profile-location {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    line-height: 12px;
    font-weight: 400;
    font-size: 1.5rem;
    word-wrap: break-word;
}
.profile-location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    color: rgb(83, 100, 113);
    svg {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 4px;
    }
}
.info-profile-follow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .follow {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        color: rgb(15, 20, 25);
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 400;
        word-wrap: break-word;
        line-height: 16px;
        h4 {
            font-size: 1.4rem;
            font-weight: 700;
            margin-right: 4px;
        }
        span {
            font-size: 1.4rem;

            color: rgb(83, 100, 113);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    padding: auto 8px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-padding: 0px 36px;
    transform: translate3d(0px, 0px, 0px);
    border-bottom: 1px solid rgb(239, 243, 244);
}
.option-text {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    min-width: 56px;
    height: 53px;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover {
        background-color: rgba(15, 20, 25, 0.1);
        transition-property: background-color, border-color, color, opacity,
            box-shadow, transform;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 200ms;
    }
}
.nav-option {
    padding: 16px;

    height: 53px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 20px;
    cursor: pointer;

    color: rgb(83, 100, 113);
    background-color: transparent;
}
.active {
    color: rgb(15, 20, 25);
    border-bottom: 4px solid rgb(29, 155, 240);
}

@media screen and (max-width: 530px) {
    .info-profile-avatar {
        margin-top: -15%;
        width: 95px;
        height: 95px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
