.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.container {
    position: relative;
    width: 1300px;
    max-width: 100%;
    justify-content: space-between;
    // align-self: center;
}
@media screen and (max-width: 1024px) {
    .wrapper {
        // max-width: auto;
    }
    .container {
        width: auto;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
