.modal-dialog {
    position: fixed;
    z-index: 1000;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.modal-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 800px;
    padding: 16px 16px 80px 16px;
    text-align: center;
}
.dialog-overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(64, 52, 50, 0.9);
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.container {
    position: sticky;

    display: inline-block;
    vertical-align: bottom;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    border-radius: 16px;
    text-align: left;
    overflow: hidden;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.header-container {
    display: flex;
    align-items: center;
    padding: 8px 6px;
    border-bottom-width: 1px;
    border-color: rgb(55 65 81);
}
.close-icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10000;

    &:hover {
        background-color: rgba(15, 20, 25, 0.1);
        border-radius: 9999px;
        transition-property: background-color, border-color, color, opacity,
            box-shadow, transform;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 200ms;
    }
    svg {
        height: 22px;
    }
}
.content {
    display: flex;
    padding: 20px 16px 10px;
    .wrapper {
        width: 100%;
    }
}
.post-user {
    position: relative;
    display: flex;
    column-gap: 12px;
    color: #0f1419;
}
.post-user-info {
    position: absolute;
    left: 20px;
    top: 44px;
    background-color: rgb(207, 217, 222);
    height: 100%;
    width: 1.5px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    z-index: -1;
}
.user-avatar {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.info {
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-bottom: 2px;
}
.name {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;

    svg {
        margin-left: 3px;
        color: rgb(29, 155, 240);
        width: 18px;
        height: 18px;
    }
}

.username {
    display: flex;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 4px;
    span {
        color: rgb(83, 100, 113);
    }
}
.space {
    flex-shrink: 0;
    padding: 0 4px;
    color: rgb(83, 100, 113);
}
.text-title {
    color: rgb(15, 20, 25);
    font-size: 1.5rem;
    font-weight: 400;
    word-wrap: break-word;
}
.user-comment {
    display: flex;
    width: 100%;
    margin-top: 28px;
    padding-top: 24px;
}
.user-input {
    flex-grow: 1;
    margin-top: 8px;
    textarea {
        background-color: transparent;
        outline: none;
        color: rgb(83, 100, 113);
        font-size: 2rem;
        line-height: 28px;
        letter-spacing: 0.025em;
        width: 100%;
        min-height: 80px;
        margin-left: 12px;
        padding: 6px 0;
        font-family: var(--font-family);
    }
}
.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.items-btn {
    display: flex;
    align-items: center;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    min-height: 36px;
    // margin: -12px 0 -12px -8px;
    color: rgb(29, 155, 240);
    cursor: pointer;

    &:hover {
        background-color: #e8f5fe;
        border-radius: 9999px;
        transition-property: background-color, border-color, color, opacity,
            box-shadow, transform;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 150ms;
    }
}
.reply-btn {
    margin-top: 12px;
    margin-left: 12px;
    button {
        max-height: 36px;
        min-width: 36px;
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1280px) {
    .close-icon {
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (min-width: 640px) {
    .modal-container {
        display: block;
        padding: 0;
        min-height: 100vh;
    }
    .container {
        margin: 32px 0;
        vertical-align: middle;
        max-width: 576px;
        width: 100%;
    }
    .content {
        padding-left: 24px;
        padding-right: 24px;
    }
    .text-title {
        line-height: 20px;
    }
}
