.search-box-container {
    max-width: 100%;
    width: 100%;
    // height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #fff;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    // padding-top: 4px;
    // padding-bottom: 2px;
    // margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    data-tippy-root {
        inset: 0px;
    }
}

.search-result {
    width: 600px;
    height: 100%;
}
.wrapper {
    cursor: pointer;
    position: absolute;
    left: -10px;
    top: 50px;
    flex-grow: 1;
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    overflow-y: scroll;
    min-height: 52px;
    padding-top: 8px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.search-box {
    width: 100%;
    margin-bottom: 6px;
    height: 45px;
    min-height: 32px;

    display: flex;
    align-items: flex-start;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 100px;
    border: 1.5px solid transparent;
    z-index: 10;

    svg {
        color: rgb(83, 100, 113);
        margin-left: 12px;
        min-width: 32px;
        height: 19px;
        width: 19px;
    }

    &:focus-within {
        border-color: rgba(29, 155, 240, 0.5);
        background-color: var(--white);
        transition: background-color 100ms ease-out;
        svg {
            color: rgba(29, 155, 240);
        }
    }
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.8rem;
    background-color: transparent;
    transition: 0.1s;

    &:hover {
        cursor: pointer;
    }
    &:active {
        color: rgba(22, 24, 35);
        svg {
            color: rgb(83, 100, 113);
        }
    }
}

.search-input {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 12px 45px 12px 12px;
    color: var(--text-color);
    font-size: 1.5rem;
    background-color: transparent;
    font-family: var(--font-family);
}

.tags-result {
    width: 100%;
    padding: 4px;

    .tags {
        display: flex;
        align-items: center;
        word-wrap: break-word;
        flex-wrap: wrap;
        padding-bottom: 4px;
        border-bottom: 1px solid rgb(218, 220, 221);
    }
}
.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 1);
    margin: 4px;
    border: 1px solid rgb(207, 217, 222);
    border-radius: 9999px;
    overflow: hidden;
    cursor: pointer;
    min-height: 32px;

    padding-left: 4px;
    padding-right: 10px;
    flex-shrink: 1;
    .tag-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
    }
    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
    .tag-title {
        width: max-content;
        font-style: 1.5rem;
        line-height: 20px;
        word-wrap: break-word;
        span {
            color: inherit;
            white-space: inherit;
        }
    }
    .tag-close-icon {
        margin-left: 4px;
        background-color: transparent;
        svg {
            color: rgb(29, 155, 240);
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        padding: 0;
        min-width: min-content;
    }
    &:hover {
        background-color: rgba(29, 155, 240, 0.1);
    }
}
